<section class="mt-8 sm:mt-16">
  <h2 class="text-[24px] sm:text-[32px] text-white font-bold mb-2 md:mb-8">
    Sobre mí
  </h2>
  <p class="mb-2 font-normal leading-6 max-w-prose sm:leading-8">
    Recién graduado en <strong class="text-white"
      >Desarrollo de aplicaciones web</strong
    >. 20 años residente en España. Hombre de pocas palabras, me gusta aprender
    por mi cuenta y el trabajo serio. Con ganas de ir ampliando mis
    conocimientos y el contenido de este portafolio.
  </p>
  <a href="https://www.google.com" class="text-accent hover:underline font-bold underline-offset-2 decoration-2 transition">Mi curriculum</a>
</section>
