---
import HeroSection from "./HeroSection.astro";
import AboutMe from "./AboutMe.astro";
import Technologies from "./Technologies.astro";
import Education from "./Education.astro";
import Projects from "./Projects.astro";
import ScrollToTop from "./ScrollToTop.astro";
import Footer from "./Footer.astro";
import Faq from "./Faq.astro";
---

<main class="h-auto max-w-5xl px-5 pt-8 sm:px-8 lg:mx-auto lg:px-0 sm:pt-12 lg:pt-16">
  
  <HeroSection />

  <AboutMe />

  <Technologies />

  <Education />

  <Projects />

  <Faq />

  <Footer />

</main>

<ScrollToTop />

<script src="../../src/main.js"></script>