<section class="mt-12 sm:mt-16">
  <h2 class="text-[24px] sm:text-[32px] text-titlewhite font-bold mb-4 md:mb-8">
    Preguntas frecuentes
  </h2>

  <ul class="mx-auto">
    <li>
      <details class="group shadow-md p-2 xs:p-4 rounded-md mt-4 bg-[#202020]">
        <summary
          class="flex flex-row-reverse items-center justify-between gap-3 font-medium marker:content-none hover:cursor-pointer"
        >
          <svg
          class="w-5 h-5 transition rotate-90 stroke-1 text-accent group-open:-rotate-90 stroke-accent"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            >
            </path>
          </svg>
          <span
            class="text-white transition text-md sm:text-lg hover:text-accent group-open:text-accent"
            >¿Cuales son tus estudios?</span
          >
        </summary>

        <article class="mt-4">
          <p class="max-w-prose text-textwhite">
            Tengo el grado superior de <strong class="text-white"
              >Desarrollo de aplicaciones Web</strong
            >, además de un <strong class="text-white"
              >Bachillerato de ciencias sociales</strong
            >. Estos estudios me han ayudado a construir una base sólida para mi
            carrera y a desarrollar habilidades específicas en el campo de la
            tecnología y el desarrollo web.
          </p>
        </article>
      </details>
    </li>
    <li>
      <details class="group shadow-md p-2 xs:p-4 rounded-md mt-4 bg-[#202020]">
        <summary
          class="flex flex-row-reverse items-center justify-between gap-3 font-medium marker:content-none hover:cursor-pointer"
        >
          <svg
          class="w-5 h-5 transition rotate-90 stroke-1 text-accent group-open:-rotate-90 stroke-accent"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            >
            </path>
          </svg>
          <span
            class="text-white transition text-md sm:text-lg hover:text-accent group-open:text-accent"
            >¿Cuál es tu enfoque de diseño?</span
          >
        </summary>

        <article class="mt-4">
          <p class="max-w-prose text-textwhite">
            Mi enfoque de diseño se basa en la <strong class="text-white"
              >usabilidad y la experiencia del usuario</strong
            >. Creo sitios web intuitivos, atractivos y funcionales que
            satisfacen las necesidades específicas de mis clientes y sus
            audiencias.
          </p>
        </article>
      </details>
    </li>
    <li>
      <details class="group shadow-md p-2 xs:p-4 rounded-md mt-4 bg-[#202020]">
        <summary
          class="flex flex-row-reverse items-center justify-between gap-3 font-medium marker:content-none hover:cursor-pointer"
        >
          <svg
          class="w-5 h-5 transition rotate-90 stroke-1 text-accent group-open:-rotate-90 stroke-accent"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            >
            </path>
          </svg>
          <span
            class="text-white transition text-md sm:text-lg hover:text-accent group-open:text-accent"
            >¿Tienes experiencia con algún CMS?</span
          >
        </summary>

        <article class="mt-4">
          <p class="max-w-prose text-textwhite">
            Sí, he trabajado anteriormente con <strong class="text-white"
              >Wordpress y Prestashop</strong
            >, también estoy familiarizado con algunos de los plugins más
            usados. He personalizado temas, instalado complementos y gestionado
            el contenido para satisfacer las necesidades de los clientes.
          </p>
        </article>
      </details>
    </li>
    <li>
      <details class="group shadow-md p-2 xs:p-4 rounded-md mt-4 bg-[#202020]">
        <summary
          class="flex flex-row-reverse items-center justify-between gap-3 font-medium marker:content-none hover:cursor-pointer"
        >
          <svg
          class="w-5 h-5 transition rotate-90 stroke-1 text-accent group-open:-rotate-90 stroke-accent"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            >
            </path>
          </svg>
          <span
            class="text-white transition text-md sm:text-lg hover:text-accent group-open:text-accent"
            >¿Qué tecnologías utilizas en tus proyectos?</span
          >
        </summary>

        <article class="mt-4">
          <p class="max-w-prose text-textwhite">
            Utilizo una variedad de tecnologías según las necesidades del
            proyecto. Esto incluye <strong class="text-white"
              >HTML5, CSS3, JavaScript, frameworks como React, y CMS como
              WordPress</strong
            >. También implemento prácticas de SEO para mejorar la visibilidad
            en los motores de búsqueda.
          </p>
        </article>
      </details>
    </li>
    <li>
      <details class="group shadow-md p-2 xs:p-4 rounded-md mt-4 bg-[#202020]">
        <summary
          class="flex flex-row-reverse items-center justify-between gap-3 font-medium marker:content-none hover:cursor-pointer"
        >
          <svg
            class="w-5 h-5 transition rotate-90 stroke-1 text-accent group-open:-rotate-90 stroke-accent"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            >
            </path>
          </svg>
          <span
            class="text-white transition text-md sm:text-lg hover:text-accent group-open:text-accent"
            >¿Cómo puedo ponerme en contacto contigo?</span
          >
        </summary>

        <article class="mt-4">
          <p class="max-w-prose text-textwhite">
            Puedes ponerte en contacto conmigo a través de los enlaces en el pie
            de página de mi sitio web o enviándome un correo electrónico a
            <strong class="text-white">victorda746@gmail.com</strong>. Intentaré
            contestarte lo más rápido posible.
          </p>
        </article>
      </details>
    </li>
  </ul>
</section>
