<section class="mt-12 sm:mt-16">
  <h3 class="text-[24px] sm:text-[32px] text-titlewhite font-bold mb-4 md:mb-8">
    Proyectos
  </h3>

  <div class="flex flex-col gap-8 px-2 md:px-0">
    <div
      class="scroll-reveal overflow-hidden relative flex flex-col md:flex-row shadow-[rgba(128,_128,_128,_.4)_0px_0px_0px_2px,_rgba(20,_20,_20,_0.65)_0px_4px_6px_-1px,_rgba(20,_20,_20,_1)_0px_1px_0px_inset] rounded-lg"
    >
      <div class="w-full">
        <div
          class="flex items-center h-full p-0 rounded-l-lg md:p-4 bg-[#202020]"
        >
          <div class="overflow-hidden md:rounded-md">
            <a
              href="https://github.com/victorda5/concesionario-web"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/projects/proyecto-concesionario-web.webp"
                alt="Captura proyecto concesionario web"
                class="transition-transform duration-300 hover:scale-105"
                width="960"
                height="450"
                decoding="async"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="relative w-full overflow-hidden rounded-b-lg md:rounded-r-lg">
        <div
          class="flex flex-col justify-center w-full h-full p-4 lg:p-8 bg-[#151515]"
        >
          <a
            href="https://github.com/victorda5/concesionario-web/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <h4
              class="text-xl font-bold lg:text-2xl text-accent hover:underline underline-offset-2 decoration-2"
            >
              Concesionario web
              <i class="ri-arrow-right-up-line"></i>
            </h4>
          </a>
          <p class="mt-2 text-sm sm:pt-4 sm:mt-0">
            Trabajo de Fin de Grado para el superior de DAW utilizando todas las
            tecnologías impartidas durante el curso.
          </p>

          <div class="flex flex-wrap h-auto gap-2 mt-6 sm:mt-4">
            <a
              target="_blank"
              href="#"
              class="flex items-center justify-between gap-2 px-2 py-1 text-xs font-bold rounded-md bg-[#202020] group"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/logos/html.webp"
                alt="HTML Logo"
                class="group-hover:-translate-y-0.5 transition-transform duration-300"
                width="16"
                height="16"
                decoding="async"
              />
               HTML
            </a>
            <a
              href="https://developer.mozilla.org/docs/Web/CSS"
              class="flex items-center justify-between gap-2 px-2 py-1 text-xs font-bold rounded-md bg-[#202020] group"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/logos/css.webp"
                alt="CSS Logo"
                class="group-hover:-translate-y-0.5 transition-transform duration-300"
                width="16"
                height="16"
                decoding="async"
              />
               CSS
            </a>
            <a
              href="https://developer.mozilla.org/docs/Web/JavaScript"
              class="flex items-center justify-between gap-2 px-2 py-1 text-xs font-bold rounded-md bg-[#202020] group"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/logos/javascript.webp"
                alt="JavaScript Logo"
                class="group-hover:-translate-y-0.5 transition-transform duration-300"
                width="16"
                height="16"
                decoding="async"
              />
               JavaScript
            </a>
            <a
              target="_blank"
              href="https://jquery.com"
              class="flex items-center justify-between gap-2 px-2 py-1 text-xs font-bold rounded-md bg-[#202020] group"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/logos/jquery.webp"
                alt="jQuery Logo"
                class="group-hover:-translate-y-0.5 transition-transform duration-300"
                width="16"
                height="16"
                decoding="async"
              />
               jQuery
            </a>
            <a
              target="_blank"
              href="https://mysql.com"
              class="flex items-center justify-between gap-2 px-2 py-1 text-xs font-bold rounded-md bg-[#202020] group"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/logos/mysql.webp"
                alt="MySql Logo"
                class="group-hover:-translate-y-0.5 transition-transform duration-300"
                width="16"
                height="16"
                decoding="async"
              />
               MySQL
            </a>
            <a
              target="_blank"
              href="https://php.net"
              class="flex items-center justify-between gap-2 px-2 py-1 text-xs font-bold rounded-md bg-[#202020] group"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/logos/php.webp"
                alt="PHP Logo"
                class="group-hover:-translate-y-0.5 transition-transform duration-300"
                width="16"
                height="16"
                decoding="async"
              />
               PHP
            </a>
          </div>

          <div class="relative flex flex-row w-full gap-2 mt-6">
            <a
              href="https://github.com/victorda5/concesionario-web"
              target="_blank"
              class="px-4 py-2 leading-normal rounded-md text-center bg-[#323232] font-bold hover:bg-[#282828] w-full sm:w-32 text-white tracking-wide transition"
              rel="noopener noreferrer"
            >
              Código</a
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="scroll-reveal overflow-hidden relative flex flex-col md:flex-row shadow-[rgba(128,_128,_128,_.4)_0px_0px_0px_2px,_rgba(20,_20,_20,_0.65)_0px_4px_6px_-1px,_rgba(20,_20,_20,_1)_0px_1px_0px_inset] rounded-lg"
    >
      <div class="w-full">
        <div
          class="flex items-center h-full p-0 rounded-l-lg md:p-4 bg-[#202020]"
        >
          <div class="overflow-hidden rounded-md">
            <a
              href="https://victorda5-tesla-landing.vercel.app/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/projects/proyecto-tesla-web.webp"
                alt="Captura proyecto Tesla web"
                class="transition-transform duration-300 hover:scale-105"
                width="960"
                height="450"
                decoding="async"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="relative w-full overflow-hidden rounded-b-lg md:rounded-r-lg">
        <div
          class="flex flex-col justify-center w-full h-full p-4 lg:p-8 bg-[#151515]"
        >
          <a
            href="https://victorda5-tesla-landing.vercel.app/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <h4 class="text-xl font-bold lg:text-2xl text-accent hover:underline underline-offset-2 decoration-2">
              Tesla landing page
              <i class="ri-arrow-right-up-line"></i>
            </h4>
          </a>

          <p class="mt-2 text-sm sm:pt-4 sm:mt-0">
            Un clon de la página web de Tesla, presenta un diseño responsivo,
            componentes de Astro y estilos de TailwindCSS.
          </p>

          <div class="flex flex-wrap h-auto gap-2 mt-6 sm:mt-4">
            <a
              href="https://astro.build"
              class="flex items-center justify-between gap-2 px-2 py-1 text-xs font-bold rounded-md bg-[#202020] group"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/logos/astro.webp"
                alt="Astro Logo"
                class="group-hover:-translate-y-0.5 transition-transform duration-300"
                width="16"
                height="16"
                decoding="async"
              />
               Astro
            </a>
            <a
              href="https://developer.mozilla.org/docs/Web/JavaScript"
              class="flex items-center justify-between gap-2 px-2 py-1 text-xs font-bold rounded-md bg-[#202020] group"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/logos/javascript.webp"
                alt="JavaScript Logo"
                class="group-hover:-translate-y-0.5 transition-transform duration-300 font-bold"
                width="16"
                height="16"
                decoding="async"
              />
               JavaScript
            </a>
            <a
              href="https://tailwindcss.com"
              class="flex items-center justify-between gap-2 px-2 py-1 text-xs font-bold rounded-md bg-[#202020] group"
              rel="noopener noreferrer"
            >
              <img
                loading="lazy"
                src="/logos/tailwindcss.webp"
                alt="TailwindCSS Logo"
                class="group-hover:-translate-y-0.5 transition-transform duration-300"
                width="16"
                height="16"
                decoding="async"
              />
               Tailwind
            </a>
          </div>

          <div class="relative flex flex-row flex-wrap w-full gap-2 mt-6">
            <a
              href="https://github.com/victorda5/tesla-landing"
              target="_blank"
              class="px-4 py-2 leading-normal rounded-md text-center bg-[#323232] font-bold hover:bg-[#282828] w-full sm:w-32 text-white tracking-wide transition"
              rel="noopener noreferrer"
            >
              Código</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
