<button
  id="scroll-up-btn"
  aria-label="Volver Arriba"
  class="fixed right-8 bg-[#323232] px-2 py-3 text-white rounded-md text-[14px] duration-[.4s] hover:-translate-y-1 shadow-md"
>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14" stroke="white" stroke-width="1.5"><path d="M12.9999 7.82843V20H10.9999V7.82843L5.63589 13.1924L4.22168 11.7782L11.9999 4L19.778 11.7782L18.3638 13.1924L12.9999 7.82843Z" fill="rgba(255,255,255,1)"></path></svg>
</button>

<script>
  const scrollUp = document.getElementById("scroll-up-btn");

  function showScrollUp() {
    if (this.scrollY >= 300) {
      scrollUp.classList.add("bottom-16"); //Show Scroll
      scrollUp.classList.remove("bottom-[-20%]"); //Hide Scroll
    } else {
      scrollUp.classList.remove("bottom-16"); //Show Scroll
      scrollUp.classList.add("bottom-[-20%]"); //Hide Scroll
    }
  }

  window.addEventListener("scroll", showScrollUp);

  function scrollToTop() {
    const rootElement = document.documentElement;

    rootElement.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }

  scrollUp.addEventListener("click", scrollToTop);
</script>