---
const { name, url } = Astro.props;
---

<a href={url} target="_blank">
  <div
    class="bg-[#202020] transition-transform group shadow-md rounded-lg overflow-hidden flex items-center gap-2 duration-200 ease-in-out xs:gap-4 lg:hover:scale-105 px-1 py-2 xs:p-2"
  >
    <div
      class="rounded-full bg-[#323232] w-[50px] h-[50px] xs:w-[60px] xs:h-[60px] flex justify-center items-center"
    >
      <img
        loading="lazy"
        src={"logos/" + name.toLowerCase() + ".webp"}
        alt={name + " Logo"}
        width="30" height="30"
        decoding="async"
      />
    </div>
    <h3 class="text-[14px] md:text-[16px]">{name}</h3>
    <div
      class="absolute top-0 block w-1/2 h-full transform -skew-x-12 -inset-full z-5 bg-gradient-to-r from-transparent to-white opacity-40 lg:group-hover:animate-shine"
    >
    </div>
  </div>
</a>

<style>
  @-webkit-keyframes shine {
    to {
      left: 125%;
    }
  }
  @keyframes shine {
    to {
      left: 125%;
    }
  }
  .group:hover .group-hover\:animate-shine {
    -webkit-animation: shine 1s;
    animation: shine 1s;
  }
</style>